
* {
    margin: 0;
    padding: 0;
}


body{
    width: 98vw;
    height: 200vh;
    font-family: 'Allerta Stencil', sans-serif;

    
}

.titulosGrande{

    font-size: 2rem;
    padding: 10px;
}

header{
    width: 98.8vw;
    height: 30vh;
    text-align: center;
    color: #36746F;
    background-color: #495120;
    font-size: 1rem;
    position: sticky;
    top: 0px;
}

header div img{
    width: 250px; 
    height: 150px; 
    
}
nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    width: 200px;
    padding: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid white;
    background-color: black;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
}

aside ul li{
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: black;


}

aside ul li a{

    text-decoration: none;
    color: white;

}

h1{
    font-family: 'Black Ops One', cursive;
}


main{
    width: 98.8vw;
    height: 150vh;
    text-align: center;
    color: white;
    background-color: #495120;
    font-size: 1rem;

}

button{
    text-decoration: none;
    color: #36746F;
    background-color: #5EC57E;
    border: 1px solid white;
    padding: 2px;

}

section article p{

    font-style: italic;
}

section article{

    margin: 1px;
    
    border: 1px groove black;
}

footer{
    width: 98.8vw;
    height: 20vh;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #495120;
    font-size: 1rem;

}
div ul li a{
    text-decoration: none;
    color: black;
}

div ul li{
    display: inline-block;
    margin: 20px;
    

}

div ul li a img{
    width: 50px; 
    height: 50px; 



}

img {width: 300px; 
    height: 225px ; 
    margin: 0px 10px; }